 /**
  * 页面head最先加载的css
  *
  * @thinlong
  * 2016.9.21
  * v1.0
  * 功能:页面淡入效果 
  */
html {
	background-color: #000000;
	
    animation: fadeIn 1s linear;
    -moz-animation: fadeIn 1s linear;   	/* Firefox */
    -webkit-animation: fadeIn 1s linear;	/* Safari 和 Chrome */
    -o-animation: fadeIn 1s linear;	        /* Opera */
   font-size: 100px;
}

@keyframes fadeIn
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text2{
	display: none;
}
.bottom-tooth{width:4.41rem;height:1.73rem;background-image:url(../img/fw.png);left:8.1rem;bottom: 0.91rem;cursor: pointer;position: relative;z-index: 999;}
.bottom-tooth6-h{width:0.9666rem;height:1.4606rem;background-image:url(../img/fw.png);left:8.1rem;bottom: 0.91rem;}


.move-drag {
    display: block;
    min-width: 1px;
    height: auto;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: left;
}
		/*button {
    width: 4.41rem !important;
    height: 1.73rem !important;
  
    cursor: pointer;

}*/
.bottom-tootha {
position: fixed;
    width: 0.8rem;
    height: 0.33rem;
    left: 0.1rem;
    cursor: pointer;
    bottom: 0.4rem;
    z-index: 999;
}
.pasteQue_ul li span{
	position: relative;
    color: rgba(255,255,255,0.4);
    display: inline-block;
    cursor: pointer;
    height: 0.4rem;
    padding-left: 0.38rem;
    padding-bottom: 0.3rem;
    color: rgb(23, 160, 175)!important;
	
}
.pasteQue_ul li span.selected {
    color: #39c5e4 !important;
    background: url(../img/triangle.svg) no-repeat bottom;
    background-size: 0.22rem;
}
/*.demon_Btn{
	position: relative;
	z-index: 0;
}*/

.demonstration{
	overflow: visible !important;
}

/*交互标题样式*/
.demon_Btn{
	font-size: 0 !important;
}

.demon_Btn img{
	width: 1.2rem !important;	
	display:inline !important; 
	vertical-align:middle !important;
}
.demon_Btn .text{
	background-color: #ee98e2;
	background: url(../img/title2.svg);
	background-size:contain;
	vertical-align:middle;
	display:inline; 
	font-size: 0.32rem !important;
	color: #FFFFFF;
	padding-top: 0.06rem !important;
	padding-bottom: 0.09rem !important;
	margin-right: -0.08rem !important;
	margin-left: -0.01rem !important;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/*交互程序工具栏样式*/
li{
	list-style-type:none
}
.canvas-contrl{
	background-color: #0099E2;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 0.05rem;
	width: 0.33rem;
	height: 1.56rem;
	margin-top: -3.5rem;
	margin-left: 1rem;
	position:fixed;
	right: 0.7rem;
	top:4.5rem;
	font-size: 0;
	padding:0.02rem;
	z-index: 2;
}
.canvas-contrl li{
	/*float: left;*/
	margin: 0;
}
.canvas-contrl li img{
	width:0.3rem;
	height: 0.3rem;
	margin: 0.01rem 0.01rem;
}

.canvas-contrl .initbtn img{
	width:0.3rem;
	height: 0.3rem;
	margin: 0.01rem 0.01rem;
}

.arrow-up{
	display: none;
}
.arrow-down{
	display: block;
}

.hand-down{
	display: none;
}
.hand-up{
	display: block;
}

.enlarge-down{
	display: none;
}
.enlarge-up{
	display: block;
}

.reduce-down{
	display: none;
}
.reduce-up{
	display: block;
}

.initbtn-down{
	display: none;
}
.initbtn-up{
	display: block;
}

canvas{
	position:relative;
	z-index: 0;
}



